input, select {
    margin: 5px;
    padding: 5px;
}

.error {
    border: 3px solid red;
}

.error-tag {
    color: red;
}

button{
    margin: 10px;
    padding: 15px;
    background-color: cornflowerblue;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
}

button:hover{
    background-color: black;
    color: white;
    border: 3px solid cornflowerblue;
}